#landing {
  background: url(../images/seashell.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 100%;
}

#name {
  padding: 20%;
}

@media all and (min-width:800px) {
  #landing {
    background-position: right bottom;
  }
}