#landing {
  background: url(../images/seashell.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 20rem 10rem;
  background-position: 80% 100%;
}
