form {
  background: #ffffff;
  padding: 4rem;
  margin-bottom: 10%;
  box-shadow: -10px 10px 50px #888888;
  font-family: 'Quicksand', sans-serif;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 2px solid #333333;
  outline: none;
}

#contact {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

#contact h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

#contact h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#contact h3 {
  margin-top: 2rem;
  font-size: 1.75rem;
  text-align: center;
}

form input {
  margin-bottom: 20px;
  width: 80%;
  padding: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
}

form label {
  display: block;
  font-size: 18px;
  text-align: left;
}

form textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 10rem;
  font-family: 'Quicksand', sans-serif;
  padding: 1rem;
  font-size: 1rem;
}

#scroll-to-top {
  margin: 0 auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 150px;
}

#scroll-to-top:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

@media all and (min-width: 800px) {
  #contact {
    padding: 3rem;
  }

  .contact-buttons {
    flex-direction: row;
  }

  form input {
    width: 40%;
  }
}
