@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');

#contact h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

#contact {
  background: rgb(250, 249, 248);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 10%;
  box-shadow: 5px 10px 8px #888888;
}

#contact > h2 {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

button {
  border: 1px solid #000;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  margin-right: 1rem;
}

.contact-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-flex-1 {
  flex: 1;
}

#scroll-to-top {
  margin: 0 auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
}

#scroll-to-top:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: rgba(227, 202, 184, 0.5);
  cursor: pointer;
}

@media all and (min-width: 800px) {
  #contact {
    background: rgb(250, 249, 248);
    padding: 3rem;
    border-radius: 1rem;
  }
}
