a {
  text-decoration: none;
  color: #333333;
}

nav {
  position: fixed;
  padding: 1rem;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  margin: 0;
}

.nav-flex {
  display: flex;
  flex-direction: row;
}

.nav-flex-1 {
  flex: 1;
  text-align: right;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.nav-flex-7 {
  flex: 7;
}

.nav-flex-1-left {
  text-align: left;
}

.square {
  height: 15px;
  width: 15px;
  background-color: #2541b2;
  margin: auto;
}

@media all and (max-width: 600px) {
  .nav-flex {
    flex-direction: column;
  }

  .nav-flex-1-left {
    text-align: center;
  }

  nav {
    position: relative;
    display: flex;
    padding: 1rem;
    background-color: #ffffff;
    z-index: 10;
  }
}
