a {
  text-decoration: none;
  color: #333333;
}

nav {
  position: fixed;
  padding: 1rem;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  margin: 0;
}

.nav-flex {
  display: flex;
  flex-direction: column;
}

.nav-flex-1 {
  flex: 1;
  text-align: right;
  margin: auto;
}

.nav-flex-7 {
  flex: 7;
}

.nav-flex-1-left {
  text-align: left;
}

.square {
  height: 15px;
  width: 15px;
  background-color: #0050ff;
  margin: auto;
}

@media all and (min-width: 800px) {
  .nav-flex {
    flex-direction: row;
  }
}
