#about {
  background: rgb(250, 249, 248);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 10px 8px #888888;
}

a {
  text-decoration: none;
  color: #935446;
  font-weight: 900;
}

a:hover {
  color: #6e3024;
}

@media all and (min-width: 800px) {
  #about {
    margin-bottom: 5rem;
    padding: 3rem;
  }

  #about > p {
    font-size: 1.25rem;
  }
}
