#about {
  position: relative;
  z-index: 2;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: 900;
}

a:hover {
  color: #0050ff;
}

.about-flex {
  display: flex;
  flex-direction: row;
}

.about-flex-1 {
  flex: 1;
  text-align: center;
  background-color: #f4ece6;
  box-shadow: -10px 10px 50px #888888;
}

.about-flex-2 {
  padding: 2rem;
  flex: 2;
  text-align: left;
  background-color: #ffffff;
}

#about-h1 {
  font-size: 5rem;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 40%;
  height: 100%;
  background-color: #e6dace;
  z-index: 1;
}

hr {
  margin: 0 8rem;
  height: 3px;
  background-color: #0050ff;
}

#position {
  letter-spacing: 2px;
}

#social {
  padding: 0.75rem;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 42%;
}

.blue-button {
  border: 1.5px solid #0050ff;
  border-radius: 1rem;
  padding: 0.4rem 1.25rem;
  background-color: #0050ff;
  margin-right: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.blue-button:hover {
  background-color: transparent;
  cursor: pointer;
  color: #333333;
}

.clear-button {
  border: 1.5px solid #333333;
  border-radius: 1rem;
  padding: 0.4rem 1.25rem;
  background-color: transparent;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.clear-button:hover {
  background-color: #0050ff;
  cursor: pointer;
  color: #ffffff;
}

#profile {
  border-radius: 50%;
  margin: 3rem 3rem 1rem 3rem;
}

@media all and (min-width: 800px) {
  #about {
    margin-bottom: 5rem;
  }

  #about > p {
    font-size: 1.25rem;
  }
}
