* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

main {
  margin: 5% 10%;
}
@media all and (min-width: 800px) {
  main {
    margin: 10% 20%;
  }
}
