img {
  opacity: 1;
  filter: alpha(opacity=1);
}

img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#projects {
  margin-bottom: 1rem;
}

.heading-flex {
    display: flex;
    flex-direction: row;
}

.heading-flex-child {
  flex: 1;
}

.projects-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: -10px 10px 50px #888888;

}

.projects-flex-1 {
  flex: 1;
  padding: 1rem;
  background-color: #ffff;
}

.projects-flex-2 {
  flex: 2;
}

#projects h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.project-screenshot {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

@media all and (min-width: 800px) {
  #projects {
    margin-bottom: 5rem;
  }
  .projects-flex {
    flex-direction: row;
    /* border-radius: 0 1rem 1rem 0; */
  }

  .projects-flex-1 {
    /* border-radius: 0 1rem 1rem 0; */
  }

  .project-screenshot {
    object-fit: cover;
    width: 100%;
    height: 600px;
  }
}
