.project-screenshot {
  opacity: 1;
  filter: alpha(opacity=1);
}

.project-screenshot:hover {
  opacity: 0.8;
}

#projects {
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.heading-flex {
    display: flex;
    flex-direction: row;
}

.heading-flex-child {
  flex: 1;
  margin: 1rem auto;
}

.heading-flex-child-right {
  flex: 1;
  margin: 1rem auto;
  text-align: right;
}

.projects-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  box-shadow: -10px 10px 50px #888888;
}

.projects-flex-1 {
  flex: 1;
  background-color: #ffff;
}

.projects-flex-1 > p, .projects-flex-1 > a {
  padding: 1rem;
}

.projects-flex-2 {
  flex: 2;
  margin-bottom: 0;
}

#projects h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.projects-flex-1 h2 {
  color: #2541b2;
  border-right: 10px solid #2541b2;
  text-align: right;
  padding-right: 1rem;
}

.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #e6dace;
  z-index: 1;
}

li {
  font-family: 'Quicksand', sans-serif;
}

.project-screenshot {
  object-fit: contain;
  width: 100%;
  height: 600px;
}

@media all and (max-width: 1550px) {
  .projects-flex {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .project-screenshot {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  .projects-flex-1 {
    padding-bottom: 2rem;
  }

  .heading-flex {
    flex-direction: column;
}
}
